In [ ]:
#Importing the library to connect to the database.
import sqlite3
#Creating a connection to the database.
conn = sqlite3.connect('films_subset.db')
#A cursor holds resources for a query.
#Several cursors can be created for a connection.
cur = conn.cursor()

In [ ]:
# Getting all records in the table called "film"
query = "SELECT * FROM film"
cur.execute(query)
rows = cur.fetchall()

for row in rows:
   print(row)

In [ ]:
query = "SELECT * FROM film where film_year_start=1940"
cur.execute(query)
rows = cur.fetchall()

for row in rows:
   print(row)

In [ ]:
query = "SELECT * FROM actor"
cur.execute(query)
rows = cur.fetchall()

for row in rows:
   print(row)

In [ ]:
#Adding some records to the table actor
query = "insert into actor( " + \
        "actor_id," + \
        "actor_name," + \
        "actor_year_born," + \
        "actor_year_dead)" + \
        "values (" + \
        "?," + \
        "?," + \
        "?," + \
        "?)"

cur.execute(query, ("a1", "Timothée Chalamet", 1994, None))

cur.execute(query, ("a2", "Rebecca Ferguson", 1983, None))

conn.commit()

In [ ]:
#Listing all records after having added two.
print("Actors after inserts:")

query = "SELECT * FROM actor"
cur.execute(query)
rows = cur.fetchall()
for row in rows:
   print(row)

In [ ]:
# Updating the birth year of actor with code "a1", that is, Timothée Chalamet
print("Updating")
query = "update actor set actor_year_born = ? where actor_id = ?"

cur.execute(query, (1995, "a1"))
conn.commit()

In [ ]:
#Listing actors after the update.
query = "SELECT * FROM actor"
cur.execute(query)
rows = cur.fetchall()
for row in rows:
   print(row)

In [ ]:
#Counting the number of records in table actor.
query = "SELECT count(*) FROM actor"
cur.execute(query)
rows = cur.fetchall()
print(rows)
print(rows[0][0])

In [ ]:
#Closing the connection
conn.close()